@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #app {
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --background: #e0e0e0;

  @layer components {

    .end-decorator {
      @apply absolute right-0 flex items-center ;
    }

    .container {
      @apply relative max-w-full h-full w-full flex items-center justify-center flex-col;
    }

    .title {
      @apply text-2xl font-semibold leading-6 text-gray-900 mb-10;
    }

    .stack {
      @apply flex space-x-2
    }

    .indicator {
      @apply stroke-[4px] text-black	;
    }

    .button {
      @apply h-8 w-8 flex items-center;
    }


    .navigation-button {
      @apply transition-all rounded-full;
    }

    .navigation-button.active {
      background: var(--background);
      box-shadow: inset 2px 2px 5px #bebebe,
                  inset -2px -2px 5px #ffffff;
    }

    .navigation-button:not(.active) {
      background: linear-gradient(145deg, #f0f0f0, #cacaca);
      box-shadow:  2px 2px 5px #bebebe,
                  -2px -2px 5px #ffffff;
    }

    .neumorphism #app {
      background: var(--background);
    }

    .neumorphism .end-decorator {
      @apply mr-4;
    }

    .neumorphism .input {
      border-radius: 20px;
      background: var(--background);
      border: none;
      box-shadow: inset 4px 4px 8px #bebebe,
                  inset -4px -4px 8px #ffffff;

      outline: none;


      @apply block w-80 border-0 py-5 pl-6 pr-20;
    }

    .neumorphism .input:focus {
      box-shadow: inset 6px 6px 12px #bebebe,
                  inset -6px -6px 12px #ffffff;
    }

    .neumorphism .button {
      display: inline-flex;
      
      background: var(--background);
      box-shadow:  5px 5px 10px #bebebe,
                  -5px -5px 10px #ffffff;

      @apply rounded-full;
    }

    .neumorphism .keybinding {
      display: inline-flex;
      
      background: var(--background);
      box-shadow:  5px 5px 10px #bebebe,
                  -5px -5px 10px #ffffff;

      @apply rounded-full px-1;
    }

    .neumorphism .button:active {   
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
    }

    .neumorphism .end-decorator {
      @apply inset-y-2;
    }
    
    .input-container {
      @apply relative;
      /* @apply relative rounded-md shadow-sm; */
    }


    body:not(.neumorphism) .input {
      @apply block w-full rounded-md border-0 py-1.5 pl-2 pr-10 text-blue-900 ring-1 ring-inset ring-blue-300 placeholder:text-blue-300 focus:ring-1 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6;
    }

    body:not(.neumorphism) .end-decorator {
      @apply inset-y-0 mr-1;
    }

    body:not(.neumorphism) .indicator {
      @apply text-blue-500;
    }

    body:not(.neumorphism) .button {
      @apply text-blue-500;
    }
    

  }
}

